<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1> Compose Email </h1>
  </br>
  <form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Send Email</button>
  </form>
  <p></p>
  <p>
    <a href="{% url 'logout' %}"><button type="submit" class="save btn btn-default">Logout</button></a>
    <a href="{% url 'password_reset' %}"><button type="submit" class="save btn btn-default">Reset Password</button></a>
  </p>
{% else %}
  <p>You are not logged in</p>
  <p>
    <a href="{% url 'login' %}"><button type="submit" class="save btn btn-default">Login</button></a>
    <a href="{% url 'signup' %}"><button type="submit" class="save btn btn-default">Sign Up</button></a>
  </p>
{% endif %}
{% endblock %}